# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\severlet\JSPvaJSTL\CalculatorJSPvaJSTL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
