# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\baitaplamthamjstl\QLKH_CRUD_HASPMAP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
