<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/list}">
        Back to customer list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.getName()}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${product.getPrice()}"></label>
    </div>
    <div class="cusdetail">
        <label>ProductLine:</label>
        <label th:text="${product.getProductLine().getName()}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>